.center{
	display:flex;
	margin-top:20px;
	
}
.title{
	text-align:center;
}
.form{
	flex-direction:column;
	padding-top: 50px;
	align-items: center;
	margin:auto;
}


.inputItem{
	display:flex;
	flex-direction:column;
	margin:5px;
}

.btn{
	background-color:rgb(99, 106, 237);
}
.btn:hover{
	background-color:rgb(62, 66, 145);

}

.message{
  margin-top: 250px;
  margin-left: 20px;
  margin-right:20px;
  font-size:20px;
  text-align:center;
}
.login{
	color:rgb(99, 106, 237);
}
.login :hover{
	color:rgb(62, 66, 145);
}